table{
border :2px solid black ; 
width:600px;
height:500px;
background: #e6e6ff; 
padding:10px; 
font-size:30px; 
border-collapse: collapse;
}

 td { 
border :2px solid rgb(0, 0, 0) ; /* Đường viền cho các ô trong bảng */
text-align: center; /* Căn giữa nội dung trong ô */
}

body{
    margin:0;
    font-family:"Poppins",sans-serif;

    background:
    linear-gradient(rgba(5,20,40,.75),
    rgba(5,20,40,.75)),
    url(images/bg.jpg);

    background-size:cover;
    background-position:center;
    min-height:100vh;
}

.main{
    width:850px;
    margin:60px auto;
    padding:40px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border-radius:20px;

    box-shadow:0 20px 50px rgba(0,0,0,.4);
}
h1{

    color:white;

    text-align:center;

    font-size:45px;

    margin-bottom:10px;
}

.subtitle{

    color:#b7d8ff;

    text-align:center;

    margin-bottom:40px;
}

.card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:white;

    margin:15px 0;

    padding:20px 25px;

    border-radius:15px;

    transition:.35s;
}

.card:hover{

    transform:translateY(-6px);

    box-shadow:0 15px 35px rgba(0,0,0,.25);

    background:#00bcd4;

    color:white;
}